<!DOCTYPE html>
<html>
<head>
	<title>dp管理平台</title>
	<meta charset="utf-8">
</head>
<body>
<table border="1">
	<tr>
		<th>序号</th>
		<th>备份任务</th>
		<th>client</th>
		<th>备份目录</th>
		<th>使用磁带机</th>
		<th>da</th>
		<th>备份脚本</th>
	</tr>
	{% for bk_task in policy %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ bk_task.task }}</td>
			<td>{{ bk_task.client }}</td>
			<td>{{ bk_task.trees }}</td>
			<td>{{ bk_task.drive }}</td>
			<td>{{ bk_task.da }}</td>
			<td>{{ bk_task.script }}</td>

		</tr>
	{% endfor %}
	
</table>

</body>
</html>